.landingContainer {
}

.heroSection {
    width: 100%;
    margin: 0 auto;
    padding: 0 4vw;
    background-color: #bdf1e2;
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-image: url("../images/heroBG.webp");
    background-size: cover;
}

.heroSectionWrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.heroTextContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.heroTextTitle {
    font-family: var(--font-Text);
    font-size: 3.5rem;
    line-height: 1;
}

.heroTextHighlight {
    color: var(--secondary);
    font-weight: 700;
    font-size: 4rem;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
}

.heroTextDescription {
    font-family: var(--font-Text);
    font-size: 1.5rem;
}

.heroImageContainer {
    width: 40%;
}

.heroImage {
    width: 100%;
    height: auto;
}

.heroCTAContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 32px 0;
}

.heroCTAContainer a {
    background-color: var(--primary);
    text-decoration: none;
    padding: 16px 32px;
    color: var(--white);
    font-size: 1rem;
    border-radius: 8px;
    font-family: var(--font-Text);
}

.heroCTAContainer .heroCTA2 {
    background-color: var(--black);
    color: var(--primary);
}

/* heroBulletPoints */

.heroBulletPoints {
    width: 100vw;
    background-image: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
}

.heroBulletPointsWrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroBulletPoint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 32px 0;
    border-right: 1px solid var(--gray);
}

.heroBulletPoint:last-child {
    border-right: 0;
}

.heroBulletImage {
    border-radius: 100%;
    background-color: #ececec2d;
    padding: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.heroBulletImage svg {
    width: 32px;
    height: 32px;
    stroke: var(--white);
    stroke-width: 2px;
}

.heroBulletText {
    font-family: var(--font-Text);
    font-size: 1.5rem;
    color: var(--white);
}

/* ChooseYourLevel */

.ChooseYourLevel {
    margin: 100px 0;
}

.sectionTitle {
    font-weight: 700;
    font-size: 4rem;
    font-family: "League Spartan", sans-serif;
    color: var(--black);
    text-align: center;
    margin-bottom: 32px;
    text-decoration: underline var(--primary);
    text-decoration-thickness: 5px;
}

.levelsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.levelCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px 32px;
    border-radius: 8px;
    color: var(--black);
    transition: var(--transition);
    text-decoration: none;
    width: 350px;
    font-family: var(--font-Text);
    background-color: #ffdce0;
}

.levelCard:hover {
    color: var(--white);
    background-color: #ee4a62;
}

.levelCardImage svg {
    width: 64px;
    height: 64px;
    fill: #ee4a62;
}

.levelCard:first-child {
    background-color: #dcfff9;
}

.levelCard:first-child .levelCardImage svg {
    fill: #1ab69d;
}

.levelCard:first-child:hover {
    background-color: #1ab69d;
}

.levelCard:last-child {
    background-color: #fff5dc;
}

.levelCard:last-child .levelCardImage svg {
    fill: #f8b81f;
}

.levelCard:last-child:hover {
    background-color: #f8b81f;
}

.levelCard:hover .levelCardImage svg {
    fill: var(--white);
}
