/* --- Fonts Importing --- */

@font-face {
    font-family: "Spartan";
    src: url("../fonts/spartan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* --- General Rules --- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
}
ul {
    list-style: none;
}
:root {
    --primary: #1ab69d;
    --secondary: #ee4a62;
    --tertiary: #f8b81f;

    --black: #000000;
    --white: #ffffff;
    --gray: #ececec;

    --transition: ease 0.4s all;

    --font-Titles: "Spartan", sans-serif;
    --font-Text: "Poppins-Regular", sans-serif;
}

::selection {
    background: #1ab69c5d;
}

.sectionTitle {
    font-weight: 700;
    font-size: 4rem;
    font-family: "League Spartan", sans-serif;
    color: var(--black);
    text-align: center;
    margin-bottom: 32px;
    text-decoration: underline var(--primary);
    text-decoration-thickness: 5px;
}
body {
    font-family: "League Spartan", sans-serif;
}
/*--- Container ---*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 500px) {
    .container {
        width: 420px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Header Styles */

header {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw;
    transition: var(--transition);
    background-color: var(--white);
}

.menu__link {
    font-weight: normal;
    font-family: var(--font-Text);
    align-self: center;
    font-size: 1.25rem;
    padding: 8px;
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}

.header-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    padding: 0 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-radius: 1rem;
}

.menu__link:hover {
    color: var(--primary);
}

.logo {
    height: 50px;
}

.hamburger-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    z-index: 999;
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu.active a {
    font-size: 64px;
    text-decoration: none;
    padding: 12px 0;
    color: var(--black);
    font-family: var(--font-Titles);
    transition: var(--transition);
}

.mobile-menu.active a:hover {
    text-decoration: underline;
}

.headerEnd a {
    color: var(--white);
    border-radius: 10px;
    transition: var(--transition);
    display: inline-flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1rem;
}

.headerEnd a.mainCTA {
    border-radius: 10px;
    transition: var(--transition);
    display: inline-flex;
    padding: 8px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--primary);
    font-size: 1.25rem;
}

.headerEnd a.mainCTA:hover {
    background-color: var(--black);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 2vw;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--black);
    cursor: pointer;
    outline: none;
    z-index: 1000;
}

@media screen and (max-width: 900px) {
    .header-links,
    .headerEnd a.mainCTA,
    .headerEnd a.register {
        display: none;
    }
    .hamburger-icon,
    .close-icon {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
    }
    .hamburger-icon svg,
    .close-icon svg {
        height: 45px;
        width: 45px;
        padding: 10px;
        margin: 0 5px;
        fill: var(--black);
        transition: var(--transition);
    }
    .headerEnd {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
}

/* Footer Styles */

footer {
    background-color: #e9e9e9;
    padding: 100px 2vw;
    color: var(--black);
}
footer .container {
    display: flex;
    justify-content: space-between;
}
footer .info {
    max-width: 240px;
    font-size: 19px;
}
footer .logo {
    display: flex;
    align-items: center;
}
footer .logo h4 {
    padding-left: 10px;
    font-size: 22px;
}
footer .logo h4 {
    font-weight: normal;
}
footer .logo h4 span {
    font-weight: bold;
}
footer .info p {
    margin-top: 15px;
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.4;
}
footer .info .contact {
    display: block;
    margin-bottom: 15px;
}
footer .info span a {
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}
footer .info span a:hover {
    color: var(--primary);
}
footer .online-platform {
    font-size: 19px;
    text-transform: capitalize;
}
footer .online-platform h4 {
    margin-bottom: 36px;
    font-size: 25px;
    margin-left: 34px;
}
footer .online-platform ul li a {
    display: block;
    padding-bottom: 15px;
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}
footer .online-platform ul li a:hover {
    color: var(--primary);
}
.contacts {
    max-width: 370px;
    font-size: 19px;
}
.contacts h4 {
    margin-bottom: 36px;
    font-size: 25px;
}
.contacts p {
    font-size: 17px;
    margin-bottom: 23px;
    line-height: 1.4;
}
.contacts form input[type="email"] {
    border: none;
    padding: 13px 25px;
    border-radius: 5px;
    width: 185px;
    outline: none;
}
.contacts form input[type="submit"] {
    border: none;
    padding: 13px 20px;
    margin-left: 7px;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    transition: var(--transition);
}
.contacts form input[type="submit"]:hover {
    background-color: #000000;
}
.contacts .links i {
    margin-right: 18px;
    margin-top: 20px;
    font-size: 20px;
}
.contacts .links .facebook {
    color: blue;
}
.contacts .links .linkedin {
    color: blue;
}
.contacts .links .github {
    color: black;
}
.contacts .links .twitter {
    color: rgb(17, 17, 171);
}
.contacts .links .youtube {
    color: red;
}


